/*<link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>*/

@font-face{ 
    font-family: 'Great Vibes';
    src: url('./fonts/great-vibes-font-kit/greatvibes-regular-webfont.eot');
    src: url('./fonts/great-vibes-font-kit/greatvibes-regular-webfont?#iefix') format('embedded-opentype'),
	 url('./fonts/great-vibes-font-kit/greatvibes-regular-webfont.woff') format('woff'),
	 url('./fonts/great-vibes-font-kit/greatvibes-regular-webfont.ttf') format('truetype'),
	 url('./fonts/great-vibes-font-kit/greatvibes-regular-webfont.svg#webfont') format('svg');
    font-weight: 400;
    font-style: normal;
}

body{
  padding: 0;
  margin: 0;
  background-color: white;
  font-family: Verdana, Geneva, sans-serif;
}

.fa{
  cursor: pointer;
}

body.HasHover .fa:hover{
  color: white;
}



a:link{
  color: black;
  text-decoration: none;
}

a:visited{
  color: black;
}

body.HasHover a:hover{
  text-decoration: underline;
}

#navigation{
  position: relative;
  top: 0;
  background-color: #ffe6e6;
  width: 100%;
  height: 40px;
  z-index: 2;
}

#logo-container{
  background-color: white;
  width: 100%;
  height: 220px;
  position: relative;
  z-index: 1;
}

#logo-link-container{
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top:15px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 200px;
  z-index: 0;
}

#logo{
  width: 200px;
  height: 200px;
}

#logo-small-desktop{
  display: none;
  position: relative;
  position: 3px;
}

.logo-small{
  width: 30px;
  height: 30px;
}

#nav-container-mobile{
  display: none;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  top:5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  background-color: none;
}

#mobile-nav-button:hover{
  color: black;
}

.mobile-header-placeholder{
  width: 15%;
}

#mobile-nav-header{
  font-family: "Great Vibes";
  background-color: none;
  padding-top: 5px;
  width: 70%;
  text-align: center;
  font-size: 1.5em;
  opacity: 0;
  -webkit-transition: opacity .5s; /* Safari */
  transition: opacity .5s;
}

#mobile-nav-header:hover{
  text-decoration: none;
}

#mobile-menu-container{
  background-color: white;
  width: 100%;
  position: fixed;
  top: 40px;
  display: none;
  z-index: 2;
  height: 220px;
  box-shadow: inset 0px 0px 8px 2px #bfbfbf;
}

#mobile-menu-item-container{
  list-style-type: none;
  padding: 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: -5px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 200px;
  width: 95%;
  text-align: center;
  background-color: none;
}

.mobile-menu-item{
  padding-top: 10px;
  padding-bottom: 10px;
}

body.HasHover .mobile-menu-item:hover{
  background-color: #ccfff5;
}

#contact-mobile-item{
  /*height: 15px;*/
}

#mobile-menu-item-container a:hover{
  text-decoration: none;
}


#nav-list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 10px;
  background-color: none;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Home
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


#home-container-one{
  background-color: white;
  position: relative;
  width: 100%;
}


#home-image-one{
  width: 100%;
}

#capture-the-moment-container{
  background-color:rgba(255,255,255, .8);
  margin: auto;
  min-width: 600px;
  max-width: 800px;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 25%;
  min-height: 225px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}

#ctm-header-container{
  display: flex;
  background-color: none;
  position: relative;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding-bottom: 10px;
}

.HeaderLine{
  width: 15%;
  height: 2px;
  background-color: #cca300;
  position: relative;
}

#header-line-ctm{
  top: 65px;  
}

#ctm-header{
  font-family: "Great Vibes";
  font-size: 3em;
  text-align: center;
  color: #cca300;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 35px;
  position: relative;
  background-color: none;
}

#ctm-paragraph{
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  background-color: none;
}

#home-container-two{
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: white;
  top: 36px;
}

#about-image-container{
  width: 50%;
  position: relative;
  background-color: none;
}

#about-image{
  width: 100%;
  position: relative;
}

#about-container{
  width: 50%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: none;
}

#about-header-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: none;
  padding-top: 125px;
  padding-bottom: 25px;
}

#header-line-about{
  top:25px;
}

#about-header{
  font-family: "Great Vibes";
  font-size: 3em;
  text-align: center;
  color: #cca300;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

#about-text{
  padding-bottom: 125px;
  width: 80%;
  margin: auto;
  background-color: none;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Footer
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

footer{
  position: relative;
  top: 0;
  width: 100%;
  background-color: #ffe6e6;
  text-align: center;
  color: black;
}

#social-container{
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: space-around;
  background-color: none;
  width: 25%;
  color: black;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 225px;
}

#copyright-text{
  padding-bottom: 15px;
}


/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Portfolio
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
#portfolio-container-one{
  background-color: red;
  width: 100%;
}


#portfolio-image-flex{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  jusify-content: space-between;
  margin: auto;
}

.portfolio-image{
  background-color: white;
  height: 300px;
  width: 300px;
  flex-grow: 1;
  flex-shrink: 1;
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  -webkit-background-size: cover;
}

#portfolio-image-one{
  background-image: url("./images/IMG_0001.jpg");
}

#portfolio-image-two{
  background-image: url("./images/IMG_0012.jpg");
}

#portfolio-image-three{
  background-image: url("./images/IMG_0023.jpg");
}

#portfolio-image-four{
  background-image: url("./images/IMG_0014.jpg");
}

#portfolio-image-five{
  background-image: url("./images/IMG_0005.jpg");
}

#portfolio-image-six{
  background-image: url("./images/IMG_0016.jpg");
}

#portfolio-image-seven{
  background-image: url("./images/IMG_0007.jpg");
}

#portfolio-image-eight{
  background-image: url("./images/IMG_0018.jpg");
}

#portfolio-image-nine{
  background-image: url("./images/IMG_0009.jpg");
}

#portfolio-image-ten{
  background-image: url("./images/IMG_0020.jpg");
}

#portfolio-image-eleven{
  background-image: url("./images/IMG_0011.jpg");
}

#portfolio-image-twelve{
  background-image: url("./images/IMG_0022.jpg");
}


#portfolio-image-thirteen{
  background-image: url("./images/IMG_0021.jpg");
}

#portfolio-image-fourteen{
  background-image: url("./images/IMG_0002.jpg");
}

#portfolio-image-fifteen{
  background-image: url("./images/IMG_0013.jpg");
}

#portfolio-image-sixteen{
  background-image: url("./images/IMG_0004.jpg");
}

#portfolio-image-seventeen{
  background-image: url("./images/IMG_0015.jpg");
}

#portfolio-image-eighteen{
  background-image: url("./images/IMG_0006.jpg");
}

#portfolio-image-nineteen{
  background-image: url("./images/IMG_0017.jpg");
}

#portfolio-image-twenty{
  background-image: url("./images/IMG_0008.jpg");
}

#portfolio-image-twentyone{
  background-image: url("./images/IMG_0019.jpg");
}

#portfolio-image-twentytwo{
  background-image: url("./images/IMG_0010.jpg");
}

#portfolio-image-twentythree{
  background-image: url("./images/IMG_0024.jpg");
}

#portfolio-image-twentyfour{
  background-image: url("./images/IMG_0003.jpg");
}



/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Pricing
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

#pricing-container-one{
  width: 100%;
  background-image: url("https://i.imgur.com/gMGRUsl.jpg");
  background-repeat: no-repeat;
  background-position:center;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  top: 0;
  padding-bottom: 85px;
}

#packages-main-container{
  position: relative;
  width: 75%;
  max-width: 800px;
  background-color:rgba(255,255,255, .7);
  top: 100px;
  bottom: 0;
  left:0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 60px;
}

#pricing-header-container{
  display: flex;
  flex-direction: row;
  justify-content: center; 
  padding-top: 75px;
  padding-bottom: 25px;
  position: relative;
}

#header-line-packages{
  position: relative;
  top: 25px;
}

#pricing-header{
  font-family: "Great Vibes";
  color: #cca300;
  font-size: 3em; 
  padding-left: 15px;
  padding-right: 15px;
}

.package-container{
  background-color: none;
  width: 90%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.PackageHeader{
  font-family: "Great Vibes";
  color: #cca300;
  font-size: 2em; 
  text-decoration: underline;
}

.PackageOptions{
  list-style: none;
  padding: 0;
}

#package-one{
  padding-top: 75px;
}

#package-two{
  padding-top: 50px;
}

#package-extras-container{
  background-color: none;
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

#fine-print-container-one{
  color: white;
  width: 75%;
  margin: auto;
  background-color: none;
  max-width: 800px;
  position: relative;
  margin-top: 150px;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Contact
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

#contact-container-one{
  width: 100%;
  background-image: url("./images/IMG_0023.jpg");
  background-repeat: no-repeat;
  background-position:center;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  top: 0;
  padding-bottom: 200px;
}

#contact-main-container{
  position: relative;
  width: 75%;
  max-width: 800px;
  background-color:rgba(255,255,255, .7);
  top: 100px;
  bottom: 0;
  left:0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.success{
  color: white;
}

.error{
  color: red;
}

#contact-header-container{
  display: flex;
  flex-direction: row;
  justify-content: center; 
  padding-top: 75px;
  padding-bottom: 25px;
}

#header-line-contact{
  position: relative;
  top: 25px;
}

#contact-header{
  font-family: "Great Vibes";
  color: #cca300;
  font-size: 3em; 
  padding-left: 15px;
  padding-right: 15px;
}

#ajax-contact{
  background-color: none;
  position: relative;
  width: 90%;
  max-width: 700px;
  margin: auto;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.FormInput{
  padding-top: 25px;
  max-width: 800px;
  width: 100%;
  margin: auto;
}

.FormInputFlex{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: none;
}

.InputBox{
  width: 40%;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
}

#email{
  width: 90%;
}

#message{
  resize: none;
  width: 90%;
  height: 150px;
  font-size: 1em;
}

#submit-button-container{
  width: 100%;
  background-color: none;
  padding-top: 50px;
  padding-bottom: 75px;
}

#submit-button{/*for mobile*/
  width: 225px;
  height: 50px;
  color: white;
  background-color: #cca300;
  border: 2px solid #cca300;
  text-align: center;
  margin: auto;
  position: relative;
  cursor: pointer;
  font-size: 1.5em; 
}

body.HasHover #submit-button{
  width: 225px;
  height: 50px;
  color: #cca300;
  background-color: transparent;
  border: 2px solid #cca300;
  text-align: center;
  margin: auto;
  position: relative;
  cursor: pointer;
  font-size: 1.5em; 
}

body.HasHover #submit-button:hover{
  text-decoration: none;
  background-color: #cca300;
  color: white;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Schedule
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

#schedule-container-one{
  width: 100%;
  background-image: url("./images/IMG_0013.jpg");
  background-repeat: no-repeat;
  background-position:center;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  top: 0;
  padding-bottom: 200px;
}


#schedule-main-container{
  position: relative;
  width: 75%;
  max-width: 800px;
  background-color:rgba(255,255,255, .7);
  top: 100px;
  bottom: 0;
  left:0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#schedule-header-container{
  display: flex;
  flex-direction: row;
  justify-content: center; 
  padding-top: 75px;
  padding-bottom: 25px;
  position: relative;
  background-color: none;
}

#header-line-schedule{
  position: relative;
  top: 25px;
}

#schedule-header{
  font-family: "Great Vibes";
  color: #cca300;
  font-size: 3em; 
  padding-left: 15px;
  padding-right: 15px;
}

#calendar{
  width: 90%;
  max-width: 700px;
  height: 400px;
  border-width: 0;
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
}

#schedule-text{
  width: 90%;
  text-align: left;
  margin: auto;
  position: relative;
}

#contact-button-container{
  width: 100%;
  background-color: none;
  padding-top: 25px;
  padding-bottom: 75px;
}

#contact-button{/*for mobile*/
  width: 225px;
  height: 50px;
  text-align: center;
  margin: auto;
  position: relative;
  top: 0px;
  cursor: pointer;
  font-size: 1.5em;
  color: white;
  background-color: #cca300;
  border: 2px solid #cca300;
  display: block;
}

body.HasHover #contact-button{
  width: 225px;
  height: 50px;
  text-align: center;
  margin: auto;
  position: relative;
  top: 0px;
  cursor: pointer;
  font-size: 1.5em;
  color: #cca300;
  background-color: transparent;
  border: 2px solid #cca300;
  display: block;
}

body.HasHover #contact-button:hover{
  text-decoration: none;
  background-color: #cca300;
  color: white;
}


#contact-button-text{
  position: absolute;
  top: -12px;
  bottom: 0;
  left:0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*xxxxxxxxxxxxxxxxxxx responsive design xxxxxxxxxxxxxxxxxxxxxx*/

@media only screen and (max-width : 667px) and (orientation : portrait){
  #logo-container{
    top: 40px;
    background-color: white;
    height: 220px;
  }
  
  #logo-link-container{
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  #navigation{
    position: fixed;
    top: 0;
    background-color: rgba(255, 230, 230, 0);
    width: 100%;
    height: 40px;
  }

  #nav-list{
    display: none;
  }
  
  #nav-container-mobile{
    display: flex;
  }
  
  #home-container-one{
    top: 40px;
  }  

  
  #capture-the-moment-container{
    background-color:rgba(255, 255, 255, 1);
    min-width: 200px;
    width:100%;
    position: relative;
    top: -3px;
  }
  
  #ctm-header-container{
    padding-top: 50px;
    background-color: none;
  }
  
  #ctm-paragraph{
    padding-bottom: 75px;
  }
  
  #home-container-two{
    flex-direction: column;
    top: 37px;
  }

  #about-image-container{
    width: 100%;
  }

  #about-container{
    width: 100%;
    background-color: white;
    position: relative;
    margin-top: -3px;
  }
  
  #about-header-container{
    padding-top: 75px;
  }
  
  #header-line-about{
    top: 25px;
  }
  
  #about-text{
    padding-bottom: 125px;
  }
  
    
  #packages-main-container{
    width: 90%;
  }

  .PackageOptions{
    list-style: disc;
    padding-left: 20px;
    padding-right: 20px;
    /*margin: 0;*/
    text-align: left;
  }
  
  #fine-print-container-one{
    width:90%;
  }
  
  #contact-main-container{
    width: 90%;
  }
  
  .FormInputFlex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .InputBox{
    width: 90%;
  }

  #first-name{
    margin-bottom: 25px;
  }

  
  #schedule-main-container{
    width: 90%;
    /*height: 660px;*/
  }

}



@media only screen and (max-width: 550px){
  #ctm-header-container{
    width: 90%;
  }
  
  #header-line-ctm{
    top: 90px;  
    width: 30%;
  } 
  
  #ctm-header{
    padding-left: 5px;
    padding-right: 5px;
  }

}



/*@media only screen and (min-width : 800px) and (orientation : landscape){}*/
@media only screen and (max-device-height: 500px), (max-width: 1240px){

  
  #home-container-one{
    top: 40px;
  }  

  
  #capture-the-moment-container{
    background-color:rgba(255, 255, 255, 1);
    min-width: 200px;
    width:100%;
    position: relative;
    top: -3px;
  }
  
  #ctm-header-container{
    padding-top: 50px;
    background-color: none;
  }
  
  #ctm-paragraph{
    padding-bottom: 75px;
  }
  
  #home-container-two{
    flex-direction: column;
    top: 37px;
  }

  #about-image-container{
    width: 100%;
  }

  #about-container{
    width: 100%;
    background-color: white;
    position: relative;
    margin-top: -3px;
  }
  
  #about-header-container{
    padding-top: 75px;
  }
  
  #header-line-about{
    top: 25px;
  }
  
  #about-text{
    padding-bottom: 125px;
  }
  
    
  #packages-main-container{
    width: 90%;
  }

  .PackageOptions{
    list-style: disc;
    padding-left: 20px;
    padding-right: 20px;
    /*margin: 0;*/
    text-align: left;
  }
  
  #fine-print-container-one{
    width:90%;
  }
  
  #contact-main-container{
    width: 90%;
  }
  
  .FormInputFlex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .InputBox{
    width: 90%;
  }

  #first-name{
    margin-bottom: 25px;
  }

  
  #schedule-main-container{
    width: 90%;
  }

}
